<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    
    <servlet>
        <servlet-name>GetJson</servlet-name>
        <servlet-class>generators.servlets.GetJson</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Graph</servlet-name>
        <servlet-class>servlets.Graph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphArrows</servlet-name>
        <servlet-class>servlets.GraphArrows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphGlyph</servlet-name>
        <servlet-class>servlets.GraphGlyph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphGlyphArrows</servlet-name>
        <servlet-class>servlets.GraphGlyphArrows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matrix</servlet-name>
        <servlet-class>servlets.Matrix</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetJson</servlet-name>
        <url-pattern>/getJson</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Graph</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphArrows</servlet-name>
        <url-pattern>/graphArrows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphGlyph</servlet-name>
        <url-pattern>/graphGlyph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphGlyphArrows</servlet-name>
        <url-pattern>/graphGlyphArrows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matrix</servlet-name>
        <url-pattern>/matrix</url-pattern>
    </servlet-mapping>
   
    

</web-app>